{% extends "layouts/default.html" %}
{% block intro %}

{% endblock %}
{% block content %}
<div class="fullwidth" style="background: #fdfdfd; padding: 80px 0;">

	<section class="content-box section-border-no section-bborder-no section-height-content section-bgtype-image section-fixed-background-no section-bgstyle-stretch section-triangle-no triangle-location-top parallax-section-no section-overlay-no section-overlay-dot-no " data-video-ratio="" data-parallax-speed="1">
		<div class="section-overlay" style="">
		</div>
		<div class="container section-content">
			<div class="row-fluid">
				<div class="row-fluid equal-cheight-no element-padding-default element-vpadding-default">
					<div class="section-column span12" style="">
						<div class="inner-content content-box textnone" id="div_c1fb_0">
							<h2 class="title textcenter default bw-defaultpx dh-defaultpx divider-dark bc-default dw-default color-default" id="h2_c1fb_0"><span>Bem víndo à WORK FORT</span></h2>
							<div class="hr border-small dh-2px aligncenter hr-border-primary" id="div_c1fb_1">
								<span></span>
							</div>
							<h6 class="title textcenter default bw-defaultpx dh-defaultpx divider-dark bc-default dw-default color-default" id="h6_c1fb_0"><span> Entendemos o quanto mobilidade é importante na vida dos nossos clientes, e é pensando no seu conforto e facilidade que desenhamos projetos únicos, visando a qualidade, segurança e preço justo.
                                     Seja o que você precise transportar, nós podemos ajudar</span>
                            </h6>
							<div class="gap " id="div_c1fb_2">
							</div>
							{#<div class="single-image-container img-align-none ">
								<div class="single-image animate-when-visible fadeInTop start-animation" data-animation-delay="100" data-animation-effect="fadeInTop">
									<img width="1100" height="405" src="upload/browsers.jpg" class="attachment-full" alt="browsers">
								</div>
							</div>#}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="feature_boxes_16 row-fluid style1 background-shadow-no feature_boxes box-style2 enable-hr-yes element-vpadding- hr-type-small hr-color-dark hr-style-double ex-large-size element-inner-vertical-padding-medium element-inner-horizental-padding-medium icon-side-left iconbox-style1 align-content-center-no align-icon-center-no columns-3 crease-background-no content-box default element-padding-medium ">
	<div class="span">
		<div class="inner-content " data-animation-delay="0" data-animation-effect="appearFromCenter">
			<div class="feature_box ">
				<div class="heading">
					<div class="heading-content">
						<h4>Missão</h4>
					</div>
					<div class="hr">
						<span></span>
					</div>
				</div>
				<div class="feature-content">
					Desenvolver, produzir e comercializar produtos de qualidade e que atendam as expectativas de nossos clientes, visando o reconhecimento pela dedicação e respeito.
				</div>
			</div>
		</div>
	</div>
	<div class="span">
		<div class="inner-content " data-animation-delay="300" data-animation-effect="appearFromCenter">
			<div class="feature_box ">
			
				<div class="heading">
					<div class="heading-content">
						<h4>Visão</h4>
					</div>
					<div class="hr">
						<span></span>
					</div>
				</div>
				<div class="feature-content">
					 Ser referência no mercado em que atuamos e obter o reconhecimento de clientes e colaboradores por nossos valores.
				</div>
			</div>
		</div>
	</div>
	<div class="span">
		<div class="inner-content " data-animation-delay="600" data-animation-effect="appearFromCenter">
			<div class="feature_box ">
				
				<div class="heading">
					<div class="heading-content">
						<h4>Valores</h4>
					</div>
					<div class="hr">
						<span></span>
					</div>
				</div>
				<div class="feature-content">
					Compromisso, dedicação, ética e respeito.
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}